header{
	background-color: #bdcebe;
}
img {
  max-width:100%;
}
.menu {
  display: flex;
  justify-content: flex-end;
}
.menu ul{
  list-style-type: none;
}
h1 {
	color: #3e4444;
}
#container {
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 1fr 1fr 1fr;
  border: solid 1px gray;
  margin: 10px;
}

.bio {
  grid-column: 1 / 3;
  grid-row: 1;
}

#my-pic {
  grid-column: 2 / 3;
  width: 100%;
  border: 1px white;
}
.bio {
  grid-column-start: 1;
  grid-column-end: 2;
}
.skills {
  grid-column-start: 3;
  grid-column-end: 4;
}

.projects {
  display: grid;
  grid-row: 10em 50em;
  grid-column-start: 1;
  grid-column-end: 4;
   grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 90%;
}
.projects h2{
  text-align: center;
  grid-column: 1/5;
}

.projects article {
  border: 1px #3e4444;
}
footer {
  text-align: center;
  background-color: #b9b0b0;
  color: #563f46
}
* {
  font-family: "Arial";
}