header {
    background-image: url("https://github.com/programmerjee/programmerjee.github.io/blob/master/banner.jpg?raw=true");
    background-size: 100% 100%;
    margin: 0em;
}
img {
    max-width: 100%;
    height: auto;
}
.menu {
    display: flex;
    justify-content: flex-end;
}
h1 {
    color: darkslategray;
    text-shadow: 2px 2px white;
    text-align: center;
    font-size: 40px;
}
h2 {
    color: darkslategray;
    font-size: 22px;
}
h3 {
    color: darkslategray;
    font-size: 20px;
}
.menu a:link {
    color: white;
}
.menu a:hover {
    color: #b9b0b0;
}
.menu ul {
    list-style-type: none;
    list-style-image: none;
}
ul {
    list-style-image: url('https://github.com/programmerjee/programmerjee.github.io/blob/master/medium%20code%20block.png?raw=true');
}
#container {
    display: grid;
    grid-template-rows: 30% 70%;
    grid-template-columns: 1fr 1fr 1fr;
    border: solid 1px gray;
    background-color: white;
    margin: 10px;
}
.bio {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 2;
    border: 1px white;
    text-align: center;
}
#my-pic {
    grid-column: 2 / 3;
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
}
.skills {
    grid-column: 3/4;
    border: 1px white;
}
p {
    font-size: 20px;
}
.projects {
    grid-row-start: 2;
    display: grid;
    grid-row: 10em 50em;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 90%;
}
.projects h2 {
    text-align: center;
    grid-column: 1/5;
}
.projects p {
    font-size: 17px;
}
.projects article {
    border: 1px #3e4444;
}
footer {
    text-align: center;
    background-color: #b9b0b0;
    color: #563f46
}
* {
    font-family: "Arial";
    margin: 0.5em;
}