header {
    background-image: url("images/banner.jpg");
    background-size: 100% 100%;
    margin: 0em;
    max-height: 15em;
}
img {
    max-width: 100%;
    height: auto;
}
h2 {
    color: darkslategray;
    font-size: 22px;
}
h3 {
    color: darkslategray;
    font-size: 20px;
}
.menu {
    margin: 0;
    padding: 0;
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.menu li {
    float: left;
}

.menu li a {
    text-decoration: none;
    display: block;
    color: white;
    text-align: center;
    padding: 8px 8px;
}

.menu li a:hover {
    background-color: #111;
}

.bullet-list {
    list-style-image: url('images/medium-code-block.png');
}
.name {
    outline: none;
    text-decoration: none;
    text-align:center;
    font-size: 40px;
    line-height: 1;
    color: white;
}
.name--angela {
    text-transform: uppercase;
    font-weight: 900;
    overflow: hidden;
    line-height: 0.75;
    color: #008080;
}

.name--angela:hover {
    color: #b2b0a9;
}

.name--angela::after {
    content: '';
    position: absolute;
    height: 16px;
    width: 100%;
    top: 50%;
    margin-top: -8px;
    right: 0;
    background: #F9F9F9;
    transform: translate3d(-100%,0,0);
    transition: transform 0.4s;
    transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.name--angela:hover::after {
    transform: translate3d(100%,0,0);
}

.name--angela::before {
    content: attr(data-letters);
    position: absolute;
    z-index: 2;
    overflow: hidden;
    color: white;
    white-space: nowrap;
    width: 0%;
    transition: width 0.4s 0.3s;
}

.name--angela:hover::before {
    width: 100%;
}
.bio-grid {
    display: grid;
    grid-template-rows: 30% 70%;
    grid-template-columns: 1fr 1fr 1fr;
    border: solid 1px gray;
    background-color: white;
    margin: 10px;
}
.bio {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 2;
    border: 1px white;
    text-align: center;
}
#my-pic {
    grid-column: 2 / 3;
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
}
.skills {
    grid-column: 3/4;
    border: 1px white;
}
p {
    font-size: 18px;
}
.projects-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20% 80%;
    background-color: white;
    margin: 10px;
    background-image: url("images/turquoise-blue-abstract.jpg");
}
.projects-grid h2 {
    color: #F8F8FF;
}
.projects-grid {
    color: #D3D3D3;
}
.projects-grid a {
    color:  #87CEEB;
}
.projects-grid a:visited {
    color: #D8BFD8;
}
.first-images {
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    border: 1px white;
    text-align: center;
}

#my-github-projects {
    text-align: center;
    grid-row: 2;
    grid-column: 2 / 3;
    font-size: 20px;
    margin-bottom: 20px;
}
.second-images {
    grid-row:2;
    grid-column: 3/4;
    border: 1px white;
}
.second-images img {
    margin-right: 1em;
}
.projects-grid h2 {
    text-align: center;
    grid-row: 1;
    grid-column: 2;
}
.projects-grid img {
    border: solid 1px gray;
}
footer {
    text-align: center;
    background-color: #b9b0b0;
    color: #563f46
}
* {
    font-family: "Arial";
    margin: 0.5em;
}

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px;   
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical
}

input[type=submit] {
    background-color: #7a6c6c;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #b9b0b0;
}
.form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
}