header {
    background-image: url("https://github.com/programmerjee/programmerjee.github.io/blob/master/banner.jpg?raw=true");
    background-size: 100% 100%;
    margin: 0em;
    max-height: 15em;
}
img {
    max-width: 100%;
    height: auto;
}
h2 {
    color: darkslategray;
    font-size: 22px;
}
h3 {
    color: darkslategray;
    font-size: 20px;
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.menu li {
    float: left;
}

.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}

.menu li a:hover {
    background-color: #111;
}

ul {
    list-style-image: url('https://github.com/programmerjee/programmerjee.github.io/blob/master/medium%20code%20block.png?raw=true');
}
.name {
    outline: none;
    text-decoration: none;
    text-align:center;
    font-size: 40px;
    line-height: 1;
    color: white;
}
.name--angela {
    text-transform: uppercase;
    font-weight: 900;
    overflow: hidden;
    line-height: 0.75;
    color: #008080;
}

.name--angela:hover {
    color: #b2b0a9;
}

.name--angela::after {
    content: '';
    position: absolute;
    height: 16px;
    width: 100%;
    top: 50%;
    margin-top: -8px;
    right: 0;
    background: #F9F9F9;
    transform: translate3d(-100%,0,0);
    transition: transform 0.4s;
    transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.name--angela:hover::after {
    transform: translate3d(100%,0,0);
}

.name--angela::before {
    content: attr(data-letters);
    position: absolute;
    z-index: 2;
    overflow: hidden;
    color: white;
    white-space: nowrap;
    width: 0%;
    transition: width 0.4s 0.3s;
}

.name--angela:hover::before {
    width: 100%;
}
#container {
    display: grid;
    grid-template-rows: 30% 70%;
    grid-template-columns: 1fr 1fr 1fr;
    border: solid 1px gray;
    background-color: white;
    margin: 10px;
}
.bio {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 2;
    border: 1px white;
    text-align: center;
}
#my-pic {
    grid-column: 2 / 3;
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
}
.skills {
    grid-column: 3/4;
    border: 1px white;
}
p {
    font-size: 18px;
}
.projects {
    grid-row-start: 2;
    display: grid;
    grid-row: 10em 50em;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 90%;
}
.projects h2 {
    text-align: center;
    grid-column: 1/5;
}
.projects p {
    font-size: 17px;
}
.projects article {
    border: 1px #3e4444;
}
footer {
    text-align: center;
    background-color: #b9b0b0;
    color: #563f46
}
* {
    font-family: "Arial";
    margin: 0.5em;
}